button {
	height: 55px;
	width: 100%;
	background: #9dd558;
	border: none;
	border-radius: 18px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
